body{
   
    font-family: 'Outfit', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    background:  #DFE8FF;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    place-items: center;
    border-radius: 20px;
    overflow-y:hidden;
    background-image: url("pattern-background-desktop.svg");
}

h1{
    font-size: 1.4rem;
    font-weight: bold;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    line-height: 125%;
}

p{
    line-height: 125%;
    font-size: 1.1rem;
    color: hsl(220,15%, 55%);
}



img {
    width: 100%;
    
}


.main-section{
    max-width: 300px;
    background: white;
    text-align: center;
   
    border-radius: 20px;
}

.eqa:hover {
    background: #000000;
    display: block;
    opacity: 0.5;
    transition: .5s ease;
    backface-visibility: hidden;
    
}


.equ{
    text-align: center; 
    color: black;
}


.Jules{
    color: white;
}

.Jules:hover{
    color: hsl(178, 100%, 50%);
}

.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.middle:hover{
    opacity: 1;
  }

.music{
    margin-left: 23px;
    margin-right: 21px;
    padding: 4px 20px;
    background: #F8F9FE;
    border-radius: 10px;
}  

.button-36 {
    background: #382AE1;
    border-radius: 10px;
    border-style: none;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 3rem;
    width: 85%;
    padding: 0 3rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 3px;
    box-shadow: 1px 1px #888888;
  }
  
  
  @media (min-width: 768px) {
    .button-36 {
      padding: 0 2.6rem;
    }
  }


.a1{
    text-align: center; 
    font-size: 14px;
    
    }
.a3{
    width: 30px;
    height: 30px; 
    float: left;  
    margin-right: 0.7vw;
     margin-top: 27px;
}
.a4{
    text-align: left;
     color: black; 
    font-weight: 600;

}
.a5{
    float: left; 
    position: relative;
    left: 40px; 
    bottom: 10px;
    color: #7C7F9B;

}
.a6{
    text-align: right;
     font-size: 13px;
    font-weight: 600;
    color: #493AD2;
    position: relative;
    left: 3px;
    bottom: 20px;
    text-decoration: underline;

}
.a7{
    color: #6A6B87;
    font-weight: 600;
}